{
  "input": {
    # -- kinesis stream for the source of enriched events
    "streamName": "snowplow-enriched-events"

    # -- name to use for the KCL dynamodb table
    "appName": "snowplow-databricks-loader"

    # -- TODO explain the options
    "initialPosition": {
      "type": "TRIM_HORIZON"
    }

    # -- TODO explain the options
    "retrievalMode": {
      "type": "Polling"
      "maxRecords": 1000
    }

    # -- TODO explain what this is
    "bufferSize": 3

  }

  "output": {

    "good": {
      # -- Base URL of the Databricks instance
      "host": "https://<identifier>.cloud.databricks.com"

      # -- Access token to authenticate with Databricks
      "token": ${DATABRICKS_TOKEN}
    }

    "bad": null # TODO need kinesis sink for failed events

  }

  "batching": {

    # - Events are uploaded to databricks when the batch reaches this size in bytes
    "maxBytes": 16000000

    # - Events are uploaded to Databricks after exceeding this duration, even if the `maxBytes` size has not been reached
    "maxDelay": "1 second"

    # - How many batches can we send simultaneously over the network to Databricks.
    "uploadConcurrency":  1
  }

  "monitoring": {
    "metrics": {

      # -- Send runtime metrics to a statsd server
      "statsd": {
        "hostname": "127.0.0.1"
        "port": 8125

        # -- Map of key/value pairs to be send along with the metric
        "tags": {
          "myTag": "xyz"
        }

        # -- How often to report metrics
        "period": "1 minute"

        # -- Prefix used for the metric name when sending to statsd
        "prefix": "snowplow.lakeloader"
      }
    }

    # -- Report unexpected runtime exceptions to Sentry
    "sentry": {
      "dsn": "https://public@sentry.example.com/1"

      # -- Map of key/value pairs to be included as tags
      "tags": {
        "myTag": "xyz"
      }
    }
  }

  # -- Optional, configure telemetry
  # -- All the fields are optional
  "telemetry": {

    # -- Set to true to disable telemetry
    "disable": false

    # -- Interval for the heartbeat event
    "interval": 15 minutes

    # -- HTTP method used to send the heartbeat event
    "method": POST

    # -- URI of the collector receiving the heartbeat event
    "collectorUri": collector-g.snowplowanalytics.com

    # -- Port of the collector receiving the heartbeat event
    "collectorPort": 443

    # -- Whether to use https or not
    "secure": true

    # -- Identifier intended to tie events together across modules,
    # -- infrastructure and apps when used consistently
    "userProvidedId": my_pipeline

    # -- ID automatically generated upon running a modules deployment script
    # -- Intended to identify each independent module, and the infrastructure it controls
    "autoGeneratedId": hfy67e5ydhtrd

    # -- Unique identifier for the VM instance
    # -- Unique for each instance of the app running within a module
    "instanceId": 665bhft5u6udjf

    # -- Name of the terraform module that deployed the app
    "moduleName": databricks-loader-vmss

    # -- Version of the terraform module that deployed the app
    "moduleVersion": 1.0.0
  }
}
