{
  "license": {
    "accept": true
  }

  "input": {
    "streamName": "snowplow-enriched-events"
  }

  "output": {

    "good": {
      "host": "https://<identifier>.cloud.databricks.com"
      "token": ${DATABRICKS_TOKEN}
      "catalog": "snowplow"
      "schema": "atomic"
      "volume": "snowplow"
    }

    "bad": {
      "streamName": "bad"
    }
  }
}
